Checks: 'modernize-*,-modernize-use-trailing-return-type,cppcoreguidelines-pro-type-cstyle-cast,readability-redundant-string-init,readability-simplify-boolean-expr,readability-*,-readability-braces-around-statements,-readability-isolate-declaration,-readability-magic-numbers,-readability-implicit-bool-conversion,-readability-function-size,-readability-identifier-length,-readability-function-cognitive-complexity'
