Checks: 'modernize-use-nullptr,modernize-use-auto,modernize-use-bool-literals,modernize-pass-by-value,modernize-deprecated-headers,modernize-redundant-void-arg,modernize-avoid-c-arrays,modernize-loop-convert,cppcoreguidelines-pro-type-cstyle-cast,readability-redundant-string-init,readability-simplify-boolean-expr,readability-qualified-auto,readability-convert-member-functions-to-static'
